body{
    background-color: #1E002D;
}
.container{
    
    width: 230px;
    height: auto;
    margin: 0 auto;
    border: 10 solid rgb(251, 255, 0);
    box-shadow: 0 0 10px rgb(208, 255, 0);
    background-position: 20px;
    background-color: aliceblue;

}

.d1 {
    padding: o auto;
    width: 200px;
    margin: 20 10 0;
    border-radius: 5%;
    color: cadetblue;
    
}

.d2  {
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

button{

    background-color: #db1769;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
button:hover{
    background-color: black;
    color:white;
}

.d3  {
    padding: o auto;
    width: 230px;
    margin: 20 10 20;
    border-radius: 5%;
    color: rgb(255, 255, 255);
    text-align:center;
    background-color: #db1769;
}

input {
    flex: 1;
    padding: 5px;
    border: 1px solid rgb(190, 182, 182);
    border-radius: 5px;
    outline: none;
}
.header img {
    border: 2px solid rgb(255, 145, 0);
    border-radius: 3px;
    margin: auto;
    padding: 9px;
    }